.container {
    display: flex; 
    flex-wrap: nowrap;
    width: 100%; 
    overflow-x: auto;
    overflow-y: hidden;
    padding: 15px; 
    height: 15%;
}

.tab {
    flex: 0 0 auto;
    align-items: center;
    margin: 2px 10px; 
    padding: 4px;
    display: inline-block;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    border-radius: 5px 5px 0px 0px;

    &:hover{
        background-color: rgba(204, 204, 204, 0.2);
    }
}

.selected {
    color: #33658A; 
    font-weight: 700;
    border-bottom: 2px solid #33658A;
}

