.node {
    height: 6px;
    width: 6px;
    background-color: blue;
    border-radius: 100%;
    display: inline-block;
}

.label {
    font-size: 6px;
    color: blue;
}

.handle {
    visibility: hidden;
    top: 14px;
    bottom: 0px;
    left: 1px;
    right: 0px;
    width: 1px;
    height: 1px;
    border: 0px;
    max-height:1px;
    min-height:1px;
    max-width:1px;
    min-width:1px
}


/* .react-flow__handle-top { */
/*     visibility: hidden; */
/*     top: 14px; */
/*     bottom: 0px; */
/*     left: 1px; */
/*     right: 0px; */
/*     width: 1px; */
/*     height: 1px; */
/*     border: 0px; */
/*     max-height:1px; */
/*     min-height:1px; */
/*     max-width:1px; */
/*     min-width:1px */
/* } */
