.searchBox {
    height: calc(2rem * var(--mantine-scale));
    width: calc(17rem * var(--mantine-scale));
    position: absolute;
    left: 20px;
    top: 50px;
    z-index: 3;
}

.control {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 50px;
    z-index: 3;
    top: 90px;
    right: 20px;
}
.layerTogglePopup {
    position: absolute;
    top: 100px;
    right: 80px;
    z-index: 4;
    height: 300px;
    width: 220px;
}

.basemapTogglePopup {
    position: absolute;
    top: 160px;
    right: 80px;
    z-index: 4;
    height: 300px;
}
