.button {
    /* background: linear-gradient(45deg, #4b6cb7 10%, #253b67 90%); */
    background-color: var(--secondary-color);
    color: var(--mantine-color-white);
    border-width: 0;
    margin: 8px 0px; 
}

.button:hover{
    background-color: var(--accent);
}