.toolbar {
    display: flex; 
    align-items: center;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 1.15rem;
    margin: 0px 5px; 
}

.header {
    font-weight: bold;
    color: white; 
    background-color: rgba(51, 101, 138);
    border: transparent;

    & svg { 
        color: #fff;
        &:hover{
            background-color: rgba(50, 198, 221, 0.5);
            border: transparent;
        }
    }
}