.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /* Higher z-index value */
    height: calc(5rem * var(--mantine-scale));
    width: 100vw;
    margin-bottom: 10px;
    background-color: var(--mantine-color-body);
    border-bottom: 1px solid var(--mantine-color-gray-3);
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(5rem * var(--mantine-scale));
}

.links {
    padding-top: var(--mantine-spacing-xl);
    height: calc(5rem * var(--mantine-scale));
}

.mainLinks {
    margin-right: calc(var(--mantine-spacing-sm) * -3);
}

.mainLink {
    text-transform: uppercase;
    font-size: var(--mantine-font-size-xs);
    color: var(--mantine-color-gray-6);
    padding: calc(0.85rem * var(--mantine-scale)) var(--mantine-spacing-sm);
    font-weight: 700;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    transition:
        border-color 100ms ease,
        color 100ms ease;
    &[data-active] {
        color: light-dark(
            var(--mantine-color-black),
            var(--mantine-color-white)
        );
        border-bottom-color: var(--mantine-color-blue-6);
    }
}

.mainLink:hover {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
