.container {
    /* border: 1px solid green;  */
    height: calc(2pxrem * var(--mantine-scale)); 
    width: calc(17rem * var(--mantine-scale)); 
    position: absolute; 
    left: 50px; 
    top: 20px; 
    z-index: 3; 
}

.icon {
    width: calc(1rem * var(--mantine-scale)); 
    height: calc(1rem * var(--mantine-scale)); 
}

.input {
    border: 3px solid #33658aff;
}